<!-- home.component.html -->

<p>home works!</p>

<!-- Add your AdSense code here -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3711642945861762" crossorigin="anonymous"></script>
<!-- realstate project -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-3711642945861762"
    data-ad-slot="2200782574"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- End AdSense code -->
